.git
.gitignore
.DS_Store
npm-debug.log
yarn-*.log
.serverless
.serverless_plugins
.env
node_modules
public/storage
resources/assets
resources/css
resources/images
resources/js
storage
tests
database/*.sqlite
public/build
!public/build/manifest.json
